## Simple Queries

In [1]:
-- 1. LIST ALL THE EMPLOYEE DETAILS.
SELECT * FROM EMPLOYEE

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20
7499,ALLEN,KEVIN,J,670,7698,1985-02-20,1600.00,300,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250.00,500,30

In [2]:
-- 2. LIST ALL THE DEPARTMENT DETAILS
SELECT * FROM DEPARTMENT

DEPARTMENT_ID,NAME,LOCATION_ID
10,Accounting,122
20,Sales,124
30,Research,123
40,Operations,167

In [3]:
-- 3. LIST ALL JOB DETAILS.
SELECT * FROM JOB

JOB_ID,DESIGNATION
667,Clerk
668,Staff
669,Analyst
670,Sales Person
671,Manager
672,President

In [4]:
-- 4. LIST ALL THE LOCATIONS.
SELECT * FROM LOCATION

LOCATION_ID,CITY
122,New York
123,Dallas
124,Chicago
167,Boston

In [5]:
-- 5. LIST OUT THE FIRSTNAME, LASTNAME, SALARY, COMMISSION FOR ALL EMPLOYEES.
SELECT FIRST_NAME, LAST_NAME, SALARY, COMM FROM EMPLOYEE

FIRST_NAME,LAST_NAME,SALARY,COMM
JOHN,SMITH,800.00,NULL
KEVIN,ALLEN,1600.00,300
JEAN,DOYLE,2850.00,NULL
LYNN,DENNIS,2750.00,NULL
LESLIE,BAKER,2200.00,NULL
CYNTHIA,WARK,1250.00,500

In [6]:
-- 6. LIST OUT EMPLOYEEID,LAST NAME, DEPARTMENT ID FOR ALL EMPLOYEES AND ALIAS
-- EMPLOYEEID AS "ID OF THE EMPLOYEE", LAST NAME AS "NAME OF THE EMPLOYEE",
-- DEPARTMENTID AS "DEP_ID".

SELECT Employee_ID AS "ID OF THE EMPLOYEE", LAST_NAME "NAME OF THE EMPLOYEE", DEPARTMENT_ID "DEP_ID"
FROM EMPLOYEE

ID OF THE EMPLOYEE,NAME OF THE EMPLOYEE,DEP_ID
7369,SMITH,20
7499,ALLEN,30
7505,DOYLE,30
7506,DENNIS,30
7507,BAKER,40
7521,WARK,30

In [7]:
-- 7. LIST OUT THE EMPLOYEES ANNUAL SALARY WITH THEIR NAMES ONLY.
SELECT FIRST_NAME, SALARY*12 AS "ANNUAL SALARY" FROM EMPLOYEE

FIRST_NAME,ANNUAL SALARY
JOHN,9600.00
KEVIN,19200.00
JEAN,34200.00
LYNN,33000.00
LESLIE,26400.00
CYNTHIA,15000.00

## WHERE

In [8]:
-- 1. LIST THE DETAILS ABOUT "SMITH"
SELECT * FROM EMPLOYEE WHERE 'SMITH' in (First_Name,Last_Name)

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [9]:
-- 2. LIST OUT THE EMPLOYEES WHO ARE WORKING IN DEPARTMENT 20.
SELECT * FROM EMPLOYEE WHERE Department_ID=20

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [10]:
-- 3. LIST OUT THE EMPLOYEES WHO ARE EARNING SALARY BETWEEN 3000 AND 4500.
SELECT * FROM EMPLOYEE WHERE Salary BETWEEN 3000 AND 4500

In [11]:
-- 4. LIST OUT THE EMPLOYEES WHO ARE WORKING IN DEPARTMENT 10 OR 20.
SELECT * FROM EMPLOYEE WHERE Department_ID IN (10,20)

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [12]:
-- 5. FIND OUT THE EMPLOYEES WHO ARE NOT WORKING IN DEPARTMENT 10 OR 30.
SELECT * FROM EMPLOYEE WHERE Department_ID NOT IN (10,30)

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40

In [13]:
-- 6. LIST OUT THE EMPLOYEES WHOSE NAME STARTS WITH 'S'.
SELECT * FROM EMPLOYEE WHERE First_Name LIKE 'S%' OR Last_Name LIKE 'S%'

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [14]:
-- 7. LIST OUT THE EMPLOYEES WHOSE NAME STARTS WITH 'S' AND ENDS WITH 'H'.
SELECT *
FROM EMPLOYEE
WHERE (First_Name LIKE 'S%H' OR Last_Name LIKE 'S%H')

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [15]:
-- 8. LIST OUT THE EMPLOYEES WHOSE NAME LENGTH IS 4 AND START WITH 'S'.
SELECT *
FROM EMPLOYEE
WHERE 4 IN (LEN(First_Name),LEN(LAST_NAME)) AND (First_Name LIKE 'S%' OR Last_Name LIKE 'S%')

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20

In [16]:
-- 9. LIST OUT EMPLOYEES WHO ARE WORKING IN DEPARRTMENT 10 AND DRAW THE
-- SALARIES MORE THAN 3500.

SELECT * FROM EMPLOYEE WHERE Department_ID=10 AND Salary>3500

In [17]:
-- 10. LIST OUT THE EMPLOYEES WHO ARE NOT RECEVING COMMISSION.
SELECT * FROM EMPLOYEE WHERE COMM IS NULL

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40

## ORDER BY CLAUSE

In [18]:
-- 1. LIST OUT THE EMPLOYEE ID, LAST NAME IN ASCENDING ORDER BASED ON THE EMPLOYEE ID.
SELECT Employee_ID, LAST_NAME FROM EMPLOYEE ORDER BY Employee_ID

Employee_ID,LAST_NAME
7369,SMITH
7499,ALLEN
7505,DOYLE
7506,DENNIS
7507,BAKER
7521,WARK

In [19]:
-- 2. LIST OUT THE EMPLOYEE ID, NAME IN DESCENDING ORDER BASED ON SALARY.
SELECT Employee_ID, First_Name AS [NAME]
FROM EMPLOYEE
ORDER BY Salary DESC

Employee_ID,NAME
7505,JEAN
7506,LYNN
7507,LESLIE
7499,KEVIN
7521,CYNTHIA
7369,JOHN

In [20]:
-- 3. LIST OUT THE EMPLOYEE DETAILS ACCORDING TO THEIR LAST-NAME IN ASCENDING ORDER
SELECT * FROM EMPLOYEE ORDER BY Last_Name

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7499,ALLEN,KEVIN,J,670,7698,1985-02-20,1600.00,300,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250.00,500,30

In [21]:
-- 4. LIST OUT THE EMPLOYEE DETAILS ACCORDING TO THEIR LAST-NAME IN ASCENDING ORDER AND
-- THEN ON DEPARTMENT_ID IN DESCENDING ORDER.
SELECT * FROM EMPLOYEE ORDER BY Last_Name, Department_ID DESC

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7499,ALLEN,KEVIN,J,670,7698,1985-02-20,1600.00,300,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250.00,500,30

## GROUP BY & HAVING CLAUSE
hint keywords - wise

In [22]:
-- 1. HOW MANY EMPLOYEES WHO ARE IN DIFFERENT DEPARTMENTS WISE IN THE ORGANIZATION.
SELECT Department_ID, COUNT(*) AS EMP_COUNT FROM EMPLOYEE GROUP BY Department_ID

Department_ID,EMP_COUNT
20,1
30,4
40,1

In [23]:
-- 2. LIST OUT THE DEPARTMENT WISE MAXIMUM SALARY, MINIMUM SALARY, AVERAGE SALARY OF
-- THE EMPLOYEES.
SELECT Department_ID, MAX(Salary) AS MAX_SAL, MIN(Salary) AS MIN_SAL, AVG(Salary) AS AVG_SAL
FROM EMPLOYEE GROUP BY Department_ID

Department_ID,MAX_SAL,MIN_SAL,AVG_SAL
20,800.00,800.00,800.00
30,2850.00,1250.00,2112.50
40,2200.00,2200.00,2200.00

In [24]:
-- 3. LIST OUT JOB WISE MAXIMUM SALARY, MINIMUM SALARY, AVERAGE SALARIES OF THE
-- EMPLOYEES.
SELECT Job_ID, MAX(Salary) AS MAX_SAL, MIN(Salary) AS MIN_SAL, AVG(Salary) AS AVG_SAL
FROM EMPLOYEE GROUP BY Job_ID

Job_ID,MAX_SAL,MIN_SAL,AVG_SAL
667,800.00,800.00,800.00
670,1600.00,1250.00,1425.00
671,2850.00,2200.00,2600.00

In [25]:
-- 4. LIST OUT THE NUMBER OF EMPLOYEES JOINED IN EVERY MONTH IN ASCENDING ORDER.
SELECT DATENAME(MM,Hire_Date) AS JOINING_MONTH, COUNT(*) AS NO_OF_EMPLOYEE FROM EMPLOYEE GROUP BY DATENAME(MM,Hire_Date) ORDER BY DATENAME(MM,Hire_Date)

JOINING_MONTH,NO_OF_EMPLOYEE
April,1
December,1
February,2
June,1
May,1

In [26]:
-- 5. LIST OUT THE NUMBER OF EMPLOYEES FOR EACH MONTH AND YEAR, IN THE ASCENDING
-- ORDER BASED ON THE YEAR, MONTH.
SELECT MONTH(Hire_Date) AS [MONTH], YEAR(Hire_Date) AS [YEAR], COUNT(*) AS EMP_COUNT
FROM EMPLOYEE
GROUP BY MONTH(Hire_Date),YEAR(Hire_Date)
ORDER BY MONTH(Hire_Date),YEAR(Hire_Date)

MONTH,YEAR,EMP_COUNT
2,1985,2
4,1985,1
5,1985,1
6,1985,1
12,1984,1

In [27]:
-- 6. LIST OUT THE DEPARTMENT ID HAVING ATLEAST FOUR EMPLOYEES.
SELECT Department_ID,COUNT(*) AS NO_OF_EMP FROM EMPLOYEE GROUP BY Department_ID HAVING COUNT(*) >=4

Department_ID,NO_OF_EMP
30,4

In [28]:
-- 7. HOW MANY EMPLOYEES JOINED IN JANUARY MONTH.
SELECT COUNT(*) AS EMP_JOINED_IN_JAN FROM EMPLOYEE WHERE DATENAME(MM,Hire_Date)='Jan'

EMP_JOINED_IN_JAN
0

In [29]:
-- 8. HOW MANY EMPLOYEES JOINED IN JANUARY OR SEPTEMBER MONTH.
SELECT COUNT(*) AS EMP_JOINED_IN_JAN FROM EMPLOYEE WHERE MONTH(Hire_Date) IN (1,9)

EMP_JOINED_IN_JAN
0

In [30]:
-- 9. HOW MANY EMPLOYEES WERE JOINED IN 1985?
SELECT YEAR(Hire_Date),COUNT(*) AS EMP_JOINED_IN_1985 FROM EMPLOYEE WHERE YEAR(Hire_Date)=1985

: Msg 8120, Level 16, State 1, Line 2
Column 'EMPLOYEE.Hire_Date' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [81]:
-- 10. HOW MANY EMPLOYEES WERE JOINED EACH MONTH IN 1985.

SELECT DATENAME(MM,Hire_Date) AS [MONTH],COUNT(*) AS EMP_JOINED_IN_1985
FROM EMPLOYEE
GROUP BY YEAR(Hire_Date), DATENAME(MM,Hire_Date)
HAVING YEAR(Hire_Date)=1985

MONTH,EMP_JOINED_IN_1985
April,1
February,2
June,1
May,1

In [91]:
-- 11. HOW MANY EMPLOYEES WERE JOINED IN MARCH 1985?
SELECT DATENAME(MM,Hire_Date) AS [MONTH],COUNT(*) AS EMP_JOINED_IN_1985
FROM EMPLOYEE
GROUP BY YEAR(Hire_Date), DATENAME(MM,Hire_Date)
HAVING YEAR(Hire_Date)=1985 AND DATENAME(MM,Hire_Date)='MAR'

In [90]:
-- 12. WHICH IS THE DEPARTMENT ID, HAVING GREATER THAN OR EQUAL TO 3 EMPLOYEES JOINED IN
-- APRIL 1985?
SELECT Department_ID, COUNT(*) AS EMP_COUNT
FROM EMPLOYEE
GROUP BY Department_ID,YEAR(Hire_Date), MONTH(Hire_Date)
HAVING YEAR(Hire_Date)=1985 AND MONTH(Hire_Date)=4 AND COUNT(*)>=3

## JOINS

In [31]:
-- 1. LIST OUT EMPLOYEES WITH THEIR DEPARTMENT NAMES.
SELECT E.First_Name,D.NAME FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID

First_Name,NAME
JOHN,Sales
KEVIN,Research
JEAN,Research
LYNN,Research
LESLIE,Operations
CYNTHIA,Research

In [32]:
-- 2. DISPLAY EMPLOYEES WITH THEIR DESIGNATIONS.
SELECT E.First_Name,J.DESIGNATION FROM EMPLOYEE E LEFT JOIN JOB J ON E.Job_ID=J.JOB_ID

First_Name,DESIGNATION
JOHN,Clerk
KEVIN,Sales Person
JEAN,Manager
LYNN,Manager
LESLIE,Manager
CYNTHIA,Sales Person

In [41]:
-- 3. DISPLAY THE EMPLOYEES WITH THEIR DEPARTMENT NAMES AND REGIONAL GROUPS.
SELECT E.First_Name,D.NAME AS DEPARTMENT_NAME,L.CITY FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID LEFT JOIN [LOCATION] L ON D.LOCATION_ID=L.LOCATION_ID

First_Name,DEPARTMENT_NAME,CITY
JOHN,Sales,Chicago
KEVIN,Research,Dallas
JEAN,Research,Dallas
LYNN,Research,Dallas
LESLIE,Operations,Boston
CYNTHIA,Research,Dallas

In [42]:
-- 4. HOW MANY EMPLOYEES WHO ARE WORKING IN DIFFERENT DEPARTMENTS AND DISPLAY WITH DEPARTMENT NAMES.
SELECT D.NAME, COUNT(*) AS NO_OF_EMPLOYEES
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.DEPARTMENT_ID=D.DEPARTMENT_ID
GROUP BY D.NAME

NAME,NO_OF_EMPLOYEES
Operations,1
Research,4
Sales,1

In [40]:
-- 5. HOW MANY EMPLOYEES WHO ARE WORKING IN SALES DEPARTMENT.
SELECT COUNT(*) FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID WHERE D.NAME='SALES'

(No column name)
1

In [1]:
-- 6. WHICH IS THE DEPARTMENT HAVING GREATER THAN OR EQUAL TO 5
-- EMPLOYEES AND DISPLAY THE DEPARTMENT NAMES IN ASCENDING ORDER.
SELECT D.NAME, COUNT(*) AS NO_OF_EMPLOYEES
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.DEPARTMENT_ID=D.DEPARTMENT_ID
GROUP BY D.NAME
HAVING COUNT(*)>=5
ORDER BY D.NAME

In [2]:
-- 7. HOW MANY JOBS IN THE ORGANIZATION WITH DESIGNATIONS.
SELECT COUNT(*) AS NO_OF_JOBS FROM EMPLOYEE E LEFT JOIN JOB J ON E.Job_ID=J.JOB_ID

NO_OF_JOBS
6

In [3]:
-- 8. HOW MANY EMPLOYEES ARE WORKING IN "NEW YORK".
SELECT COUNT(*)
FROM EMPLOYEE E 
LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID 
LEFT JOIN [LOCATION] L ON D.LOCATION_ID= L.LOCATION_ID
WHERE L.CITY='NEW YORK'

(No column name)
0

In [ ]:
-- 9. DISPLAY THE EMPLOYEE DETAILS WITH SALARY GRADES.

In [ ]:
-- 10. LIST OUT THE NO. OF EMPLOYEES ON GRADE WISE.

In [4]:
-- 11. DISPLAY THE EMPLOYEE SALARY GRADES AND NO. OF EMPLOYEES BETWEEN 2000 TO
-- 5000 RANGE OF SALARY.

SELECT * FROM EMPLOYEE WHERE Salary BETWEEN 2000 AND 5000

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40

In [ ]:
-- 12. DISPLAY THE EMPLOYEE DETAILS WITH THEIR MANAGER NAMES.

In [ ]:
-- 13. DISPLAY THE EMPLOYEE DETAILS WHO EARN MORE THAN THEIR MANAGERS SALARIES.

In [5]:
-- 14. SHOW THE NO. OF EMPLOYEES WORKING UNDER EVERY MANAGER.
SELECT Manager_ID,COUNT(*) AS NO_OF_EMPLOYEES FROM EMPLOYEE GROUP BY Manager_ID

Manager_ID,NO_OF_EMPLOYEES
7698,2
7839,3
7902,1

In [ ]:
-- 15. DISPLAY EMPLOYEE DETAILS WITH THEIR MANAGER NAMES.
-- SAME AS Q.12

In [7]:
-- 16. DISPLAY ALL EMPLOYEES IN SALES OR OPERATION DEPARTMENTS
SELECT *
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID
WHERE D.NAME IN ('SALES','OPERATIONS')

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,DEPARTMENT_ID,NAME,LOCATION_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20,20,Sales,124
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200.00,NULL,40,40,Operations,167

# SET OPERATORS

In [10]:
-- 1. LIST OUT THE DISTINCT JOBS IN SALES AND ACCOUNTING DEPARTMENTS.
SELECT distinct *
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID LEFT JOIN JOB J ON E.Job_ID=J.JOB_ID
WHERE D.NAME IN ('SALES','ACCOUNTING')

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,DEPARTMENT_ID,NAME,LOCATION_ID,JOB_ID,DESIGNATION
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20,20,Sales,124,667,Clerk

In [11]:
-- 2. LIST OUT ALL THE JOBS IN SALES AND ACCOUNTING DEPARTMENTS.
SELECT *
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID
WHERE D.NAME IN ('SALES','ACCOUNTING')

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,DEPARTMENT_ID,NAME,LOCATION_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20,20,Sales,124

In [12]:
-- 3. LIST OUT THE COMMON JOBS IN RESEARCH AND ACCOUNTING DEPARTMENTS IN 
--  ASCENDING ORDER
SELECT *
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID = D.DEPARTMENT_ID
WHERE D.NAME='RESEARCH' AND D.NAME='ACCOUNTING'

# SUB QUERIES

In [13]:
-- 1. DISPLAY THE EMPLOYEES LIST WHO GOT THE MAXIMUM SALARY.
SELECT *
FROM EMPLOYEE
WHERE Salary = (SELECT MAX(Salary)
FROM EMPLOYEE)

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30

In [14]:
-- 2. DISPLAY THE EMPLOYEES WHO ARE WORKING IN SALES DEPARTMENT.
SELECT *
FROM EMPLOYEE E LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID
WHERE D.NAME='SALES'

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,DEPARTMENT_ID,NAME,LOCATION_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20,20,Sales,124

In [15]:
-- 3. DISPLAY THE EMPLOYEES WHO ARE WORKING AS 'CLERCK'.
SELECT *
FROM EMPLOYEE E JOIN JOB J ON E.Job_ID=J.JOB_ID
WHERE DESIGNATION='CLERK'

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,JOB_ID,DESIGNATION
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800.00,NULL,20,667,Clerk

In [16]:
-- 4. DISPLAY THE LIST OF EMPLOYEES WHO ARE LIVING IN "NEW YORK".
SELECT *
FROM EMPLOYEE E 
LEFT JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID 
LEFT JOIN [LOCATION] L ON D.LOCATION_ID=L.LOCATION_ID
WHERE CITY='NEW YORK'

In [17]:
-- 5. FIND OUT NO. OF EMPLOYEES WORKING IN "SALES" DEPARTMENT.
SELECT COUNT(*) AS NO_OF_EMPLOYEES_IN_SALES
FROM EMPLOYEE E JOIN DEPARTMENT D ON E.Department_ID=D.DEPARTMENT_ID
WHERE D.NAME='SALES'

NO_OF_EMPLOYEES_IN_SALES
1

In [18]:
-- 6. UPDATE THE EMPLOYEES SALARIES, WHO ARE WORKING AS CLERK ON THE BASIS OF 10%.
UPDATE EMPLOYEE
SET Salary=(Salary+Salary*0.10)
FROM EMPLOYEE E
JOIN JOB J ON E.Job_ID=J.JOB_ID
WHERE DESIGNATION='CLERK'

In [20]:
-- 7. DELETE THE EMPLOYEES WHO ARE WORKING IN ACCOUNTING DEPARTMENT.
DELETE EMPLOYEE FROM EMPLOYEE E
JOIN DEPARTMENT D
ON E.Department_ID=D.DEPARTMENT_ID
WHERE D.NAME='ACCOUNTING'

In [27]:
-- 8. DISPLAY THE SECOND HIGHEST SALARY DRAWING EMPLOYEE DETAILS.
-- SELECT *
-- FROM EMPLOYEE
-- ORDER BY Salary DESC OFFSET 1 ROWS FETCH NEXT 1 ROWS ONLY
SELECT *
FROM (SELECT *, DENSE_RANK()OVER(ORDER BY SALARY DESC) AS RANK
    FROM EMPLOYEE) A
WHERE RANK=2

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,RANK
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30,2

In [28]:
-- 9. DISPLAY THE N'TH HIGHEST SALARY DRAWING EMPLOYEE DETAILS.
SELECT TOP 1 * FROM EMPLOYEE ORDER BY Salary

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,880.00,NULL,20

In [29]:
-- 10. LIST OUT THE EMPLOYEES WHO EARN MORE THAN EVERY EMPLOYEE IN DEPARTMENT 30.
SELECT TOP 1 * FROM EMPLOYEE E WHERE Department_ID=30 ORDER BY Salary DESC

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30

In [30]:
-- 11. LIST OUT THE EMPLOYEES WHO EARN MORE THAN THE LOWEST SALARY IN DEPARTMENT 30.
SELECT *
FROM EMPLOYEE
WHERE Department_ID=30 AND Salary> (SELECT MIN(Salary)
    FROM EMPLOYEE
    WHERE Department_ID=30)

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID
7499,ALLEN,KEVIN,J,670,7698,1985-02-20,1600.00,300,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30

In [41]:
-- 12. FIND OUT WHOSE DEPARTMENT HAS NOT EMPLOYEES.
SELECT D.NAME
FROM DEPARTMENT D LEFT JOIN EMPLOYEE E ON D.Department_ID=E.DEPARTMENT_ID
WHERE Employee_ID IS NULL

NAME
Accounting

In [ ]:
-- 13. FIND OUT WHICH DEPARTMENT DOES NOT HAVE ANY EMPLOYEES.
-- SAME AS Q.12

In [44]:
-- 14. FIND OUT THE EMPLOYEES WHO EARN GREATER THAN THE AVERAGE SALARY FOR THEIR 
-- DEPARTMENT

WITH
    CTE
    AS
    
    (
        SELECT Department_ID, AVG(Salary) AS AVG_SAL
        FROM EMPLOYEE
        GROUP BY Department_ID
    )

SELECT *
FROM EMPLOYEE E LEFT JOIN CTE C ON E.Department_ID=C.Department_ID
WHERE Salary>C.AVG_SAL

Employee_ID,Last_Name,First_Name,Middle_Name,Job_ID,Manager_ID,Hire_Date,Salary,Comm,Department_ID,Department_ID,AVG_SAL
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850.00,NULL,30,30,2112.50
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750.00,NULL,30,30,2112.50