## Study Material-M4-SQL-Functions-Assignment

In [5]:
-- 1. What is the cost of the costliest software development in Basic?
SELECT TITLE, DCOST
FROM SOFTWARE
WHERE DEVELOPIN='BASIC' AND DCOST=(SELECT MAX(DCOST)
FROM SOFTWARE WHERE DEVELOPIN='BASIC')

TITLE,DCOST
PARACHUTES,6000

In [32]:
-- 2. Display details of Packages whose sales crossed the 2000 Mark.
SELECT *
FROM SOFTWARE S JOIN ( SELECT TITLE, SUM(SCOST*SOLD) AS TOTAL_SALES
    FROM SOFTWARE
    GROUP BY TITLE) A
    ON S.TITLE=A.TITLE
WHERE A.TOTAL_SALES>2000

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD,TITLE,TOTAL_SALES
QADIR,BOMBS AWAY,ASSEMBLY,750,3000,11,BOMBS AWAY,8250
MARY,CODE GENERATOR,C,4500,20000,23,CODE GENERATOR,103500
RAMESH,DEAD LEE,PASCAL,599.95,4500,73,DEAD LEE,43796.350000000006
MARY,FINANCIAL ACCT.,ORACLE,18000,85000,4,FINANCIAL ACCT.,72000
REVATHI,HOSPITAL MGMT.,PASCAL,1100,75000,2,HOSPITAL MGMT.,2200
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4,HOTEL MGMT.,52000
ANAND,PARACHUTES,BASIC,399.95,6000,43,PARACHUTES,17197.85
KAMALA,PAYROLL PKG.,DBASE,9000,20000,7,PAYROLL PKG.,63000
REMITHA,PC UTILITIES,C,725,5000,51,PC UTILITIES,36975
MARY,README,CPP,300,1200,84,README,50400
PATTRICK,README,CPP,300,1200,84,README,50400
VIJAYA,TSR EDITOR,C,900,700,6,TSR EDITOR,5400
REMITHA,TSR HELP PKG.,ASSEMBLY,2500,6000,7,TSR HELP PKG.,17500
QADIR,VACCINES,C,1900,3100,21,VACCINES,39900
ANAND,VIDEO TITLING,PASCAL,7500,16000,9,VIDEO TITLING,67500

In [16]:
-- 3. Who are the Programmers who celebrate their Birthdays during the Current Month?
SELECT * FROM PROGRAMMER WHERE MONTH(DOB) = MONTH(GETDATE())

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600

In [19]:
-- 4. Display the Cost of Package Developed By each Programmer.
SELECT PNAME,SUM(DCOST) TOTAL_DCOST FROM SOFTWARE GROUP BY PNAME

PNAME,TOTAL_DCOST
ANAND,22000
JULIANA,3500
KAMALA,20000
MARY,106200
PATTRICK,1200
QADIR,6100
RAMESH,39500
REMITHA,11000
REVATHI,75000
VIJAYA,700

In [28]:
-- 5. Display the sales values of the Packages Developed by each Programmer.
SELECT PNAME,TITLE,SUM(SCOST*SOLD) TOTAL_SALES FROM SOFTWARE GROUP BY PNAME,TITLE

PNAME,TITLE,TOTAL_SALES
QADIR,BOMBS AWAY,8250
MARY,CODE GENERATOR,103500
RAMESH,DEAD LEE,43796.350000000006
MARY,FINANCIAL ACCT.,72000
REVATHI,HOSPITAL MGMT.,2200
RAMESH,HOTEL MGMT.,52000
JULIANA,INVENTORY,0
ANAND,PARACHUTES,17197.85
KAMALA,PAYROLL PKG.,63000
REMITHA,PC UTILITIES,36975
MARY,README,25200
PATTRICK,README,25200
VIJAYA,TSR EDITOR,5400
REMITHA,TSR HELP PKG.,17500
QADIR,VACCINES,39900
ANAND,VIDEO TITLING,67500

In [34]:
-- 6. Display the Number of Packages sold by Each Programmer.
SELECT PNAME,SUM(SOLD) AS NO_OF_PACKAGES FROM SOFTWARE GROUP BY PNAME

PNAME,NO_OF_PACKAGES
ANAND,52
JULIANA,0
KAMALA,7
MARY,111
PATTRICK,84
QADIR,32
RAMESH,77
REMITHA,58
REVATHI,2
VIJAYA,6

In [44]:
CREATE FUNCTION get_details()
returns table as return
SELECT PNAME, MAX(SCOST) AS MAX_SCOST, MIN(SCOST) AS MIN_SCOST
FROM SOFTWARE
GROUP BY PNAME

In [52]:
-- CREATE FUNCTION get_result(@col_name varchar(50), @col varchar(50))
-- returns table return
-- SELECT S.PNAME, TITLE AS [@col_name]
-- FROM SOFTWARE S JOIN dbo.get_details() C ON S.PNAME=C.PNAME AND S.SCOST=C.[@col]

In [57]:
-- 7. Display each programmerâ€™s name, costliest and cheapest Packages Developed by him or her.
SELECT C_MAX.PNAME,costliest,cheapest FROM 
(SELECT S.PNAME, TITLE AS costliest
FROM SOFTWARE S JOIN dbo.get_details() C ON S.PNAME=C.PNAME AND S.SCOST=C.MAX_SCOST) C_MAX
JOIN 
(SELECT S.PNAME, TITLE AS cheapest
FROM SOFTWARE S JOIN dbo.get_details() C ON S.PNAME=C.PNAME AND S.SCOST=C.MIN_SCOST) C_MIN
ON C_MAX.PNAME=C_MIN.PNAME

PNAME,costliest,cheapest
MARY,FINANCIAL ACCT.,README
ANAND,VIDEO TITLING,PARACHUTES
JULIANA,INVENTORY,INVENTORY
KAMALA,PAYROLL PKG.,PAYROLL PKG.
PATTRICK,README,README
QADIR,VACCINES,BOMBS AWAY
RAMESH,HOTEL MGMT.,DEAD LEE
REMITHA,TSR HELP PKG.,PC UTILITIES
REVATHI,HOSPITAL MGMT.,HOSPITAL MGMT.
VIJAYA,TSR EDITOR,TSR EDITOR

In [58]:
-- 8. Display each institute name with the number of Courses, Average Cost per Course.
SELECT INSTITUTE, COUNT(COURSE) AS NO_OF_COURSES, AVG([COURSE FEE]) AS AVG_COST_PER_COURSE
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,NO_OF_COURSES,AVG_COST_PER_COURSE
APPLE,1,14000
BDPS,3,25333
BRILLIANT,1,11000
COIT,1,7200
PRAGATHI,3,5466
SABHARI,4,4625

In [59]:
-- 9. Display each institute Name with Number of Students.
SELECT INSTITUTE, COUNT(PNAME) AS "Number of Students"
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,Number of Students
APPLE,1
BDPS,3
BRILLIANT,1
COIT,1
PRAGATHI,3
SABHARI,4

In [62]:
-- 10. List the programmers (form the software table) and the institutes they studied.
SELECT DISTINCT S.PNAME, SS.INSTITUTE
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME

PNAME,INSTITUTE
ANAND,SABHARI
JULIANA,BDPS
KAMALA,PRAGATHI
MARY,SABHARI
PATTRICK,NULL
QADIR,APPLE
RAMESH,SABHARI
REMITHA,BDPS
REVATHI,SABHARI
VIJAYA,BDPS

In [73]:
-- 11. How many packages were developed by students, 
-- who studied in institute that charge the lowest course fee?
SELECT S.PNAME, COUNT(TITLE) AS NO_OF_PACKAGES
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
GROUP BY S.PNAME,SS.[COURSE FEE]
HAVING SS.[COURSE FEE]=(SELECT MIN([COURSE FEE])
FROM STUDIES)

PNAME,NO_OF_PACKAGES
ANAND,2
MARY,3
RAMESH,2

In [84]:
-- 12. What is the AVG salary for those whose software sales is more than 50,000/-.
SELECT AVG(P.SALARY) AS "AVG salary for those whose software sales is more than 50,000"
FROM PROGRAMMER P JOIN (SELECT PNAME
    FROM SOFTWARE
    WHERE SCOST*SOLD>50000
    GROUP BY PNAME) A ON P.PNAME=A.PNAME

"AVG salary for those whose software sales is more than 50,000"
3450

In [91]:
-- 13. Which language listed in prof1, prof2 has not been used to develop any package.
SELECT PROF1
FROM (SELECT PROF1
        FROM PROGRAMMER
    UNION
        SELECT PROF2
        FROM PROGRAMMER) P LEFT JOIN SOFTWARE S ON P.PROF1=S.DEVELOPIN
WHERE DEVELOPIN IS NULL

PROF1
CLIPPER
FOXPRO

In [95]:
-- 14. Display the total sales value of the software, institute wise.
SELECT INSTITUTE,SUM(SCOST*SOLD) AS TOTAL_SALES_VALUE
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
GROUP BY SS.INSTITUTE

INSTITUTE,TOTAL_SALES_VALUE
NULL,25200
APPLE,48150
BDPS,59875
PRAGATHI,63000
SABHARI,383394.19999999995

In [98]:
-- 15. Display the details of the Software Developed in C By female programmers of Pragathi
SELECT *
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME WHERE
DEVELOPIN='C' AND GENDER='F' AND SS.INSTITUTE='Pragathi'

In [100]:
-- 16. Display the details of the packages developed in Pascal by the Female Programmers.
SELECT S.TITLE,S.PNAME,S.DCOST,S.DEVELOPIN,S.SCOST,S.SOLD FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME WHERE GENDER='F' AND DEVELOPIN='PASCAL'

TITLE,PNAME,DCOST,DEVELOPIN,SCOST,SOLD
HOSPITAL MGMT.,REVATHI,75000,PASCAL,1100,2

In [107]:
-- 17. Which language has been stated as the proficiency by most of the Programmers?
SELECT PROF1
FROM (SELECT PROF1, DENSE_RANK()OVER(ORDER BY COUNT(PROF1) DESC) AS RANK
    FROM (            SELECT PROF1
            FROM PROGRAMMER
        UNION ALL
            SELECT PROF2
            FROM PROGRAMMER) A
    GROUP BY PROF1) B
WHERE RANK=1

PROF1
C
COBOL
DBASE
PASCAL

In [108]:
-- 18. Who is the Author of the Costliest Package?
SELECT PNAME FROM SOFTWARE WHERE SCOST = (SELECT MAX(SCOST) FROM SOFTWARE)

PNAME
MARY

In [109]:
-- 19. Which package has the Highest Development cost?
SELECT TITLE FROM SOFTWARE WHERE DCOST = (SELECT MAX(DCOST) FROM SOFTWARE)

TITLE
FINANCIAL ACCT.

In [114]:
-- 20. Who is the Highest Paid Female COBOL Programmer?
SELECT PNAME FROM (SELECT PNAME, DENSE_RANK()OVER(ORDER BY SALARY DESC) AS RANK
FROM PROGRAMMER
WHERE GENDER='F' AND 'COBOL' IN (PROF1,PROF2)) A WHERE RANK=1

PNAME
JULIANA

In [119]:
-- 21. Display the Name of Programmers and Their Packages.
SELECT P.PNAME, S.TITLE
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME
GROUP BY P.PNAME,S.TITLE

PNAME,TITLE
ALTAF,NULL
ANAND,PARACHUTES
ANAND,VIDEO TITLING
JULIANA,INVENTORY
KAMALA,PAYROLL PKG.
MARY,CODE GENERATOR
MARY,FINANCIAL ACCT.
MARY,README
NELSON,NULL
PATTRICK,README
QADIR,BOMBS AWAY
QADIR,VACCINES
RAMESH,DEAD LEE
RAMESH,HOTEL MGMT.
REBECCA,NULL
REMITHA,PC UTILITIES
REMITHA,TSR HELP PKG.
REVATHI,HOSPITAL MGMT.
VIJAYA,TSR EDITOR

In [122]:
-- 22. Display the Number of Packages in Each Language Except C and C++.
SELECT DEVELOPIN,COUNT(TITLE) AS NO_OF_PACKAGES FROM SOFTWARE WHERE DEVELOPIN NOT IN ('C','C++') GROUP BY DEVELOPIN

DEVELOPIN,NO_OF_PACKAGES
ASSEMBLY,2
BASIC,1
COBOL,1
CPP,2
DBASE,2
ORACLE,1
PASCAL,3

In [124]:
-- 23. Display AVG Difference between SCOST, DCOST for Each Package.
SELECT TITLE,ABS(AVG(SCOST)-AVG(DCOST)) AVG_DIFFERENCE FROM SOFTWARE GROUP BY TITLE

TITLE,AVG_DIFFERENCE
BOMBS AWAY,2250
CODE GENERATOR,15500
DEAD LEE,3900.05
FINANCIAL ACCT.,67000
HOSPITAL MGMT.,73900
HOTEL MGMT.,22000
INVENTORY,500
PARACHUTES,5600.05
PAYROLL PKG.,11000
PC UTILITIES,4275
README,900
TSR EDITOR,200
TSR HELP PKG.,3500
VACCINES,1200
VIDEO TITLING,8500

In [137]:
-- 24. Display the total SCOST, DCOST and amount to Be Recovered for each Programmer for
-- Those Whose Cost has not yet been Recovered.
SELECT P.PNAME,SUM(SCOST*SOLD) AS TOTAL_SCOST,SUM(DCOST) AS TOTAL_DCOST,(SUM(DCOST)-SUM(SCOST*SOLD)) AS AMOUNT_TO_BE_RECOVER6
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE (SCOST*SOLD) <DCOST
GROUP BY P.PNAME

PNAME,TOTAL_SCOST,TOTAL_DCOST,AMOUNT_TO_BE_RECOVER6
JULIANA,0,3500,3500
MARY,72000,85000,13000
REVATHI,2200,75000,72800

In [139]:
-- 25. Who is the Highest Paid C Programmers?
WITH CTE AS (
    SELECT * FROM PROGRAMMER WHERE 'C' IN (PROF1,PROF2)
)

SELECT PNAME FROM CTE WHERE SALARY=(SELECT MAX(SALARY) FROM CTE)

PNAME
REMITHA

In [140]:
-- 26. Who is the Highest Paid Female COBOL Programmer
WITH
    CTE
    AS
    
    (
        SELECT *
        FROM PROGRAMMER
        WHERE GENDER='F' AND 'COBOL' IN (PROF1,PROF2)
    )
SELECT PNAME FROM CTE WHERE SALARY=(SELECT MAX(SALARY) FROM CTE)

PNAME
JULIANA