# Operators & Clauses – Assignment

In [26]:
-- 27) Display Highest, Lowest and Average Salaries for those earning more than 2000
SELECT MAX(SALARY) MAX_SAL, MIN(SALARY) MIN_SAL, AVG(SALARY) AVG_SAL
FROM PROGRAMMER
WHERE SALARY>2000

MAX_SAL,MIN_SAL,AVG_SAL
4500,2500,3169

In [18]:
-- 26) Display the Number of Packages in Each Language for which Development Cost is less than 1000.
SELECT DEVELOPIN, COUNT(*) AS NO_OF_PACKAGES
FROM SOFTWARE
GROUP BY DEVELOPIN,DCOST
HAVING DCOST<1000

DEVELOPIN,NO_OF_PACKAGES
C,1

In [10]:
-- 25) Who is the least experienced Programmer?
SELECT TOP(1)
    PNAME
FROM PROGRAMMER
ORDER BY DOJ DESC

PNAME
REMITHA

In [9]:
-- 24) Who is the most experienced male programmer knowing PASCAL?

SELECT TOP(1) PNAME
FROM PROGRAMMER
WHERE 'PASCAL' IN (PROF1,PROF2)
ORDER BY DOJ

PNAME
PATTRICK

In [32]:
-- 23) Which Language is known by only one Programmer?

WITH cte
AS (SELECT PROF1
    FROM PROGRAMMER
    UNION ALL
    SELECT PROF2
    FROM PROGRAMMER)
    
SELECT PROF1,
       COUNT(*) AS CNT
FROM cte
GROUP BY PROF1

-- SELECT PROF1,COUNT(*) AS CNT
-- FROM PROGRAMMER 
-- GROUP BY PROF1

PROF1,CNT
ASSEMBLY,2
BASIC,3
C,4
CLIPPER,2
COBOL,4
CPP,1
DBASE,4
FOXPRO,1
ORACLE,1
PASCAL,4

In [7]:
-- 22) Who is the Youngest Programmer knowing DBASE?
SELECT PNAME FROM PROGRAMMER WHERE DOB=
(SELECT MAX(DOB)
FROM PROGRAMMER
) AND (PROF1='DBASE' OR PROF2='DBASE')

PNAME
NELSON

In [24]:
-- 21) Which Female Programmer earning more than 3000 does not know C, C++, ORACLE or DBASE?
SELECT PNAME
FROM PROGRAMMER
WHERE GENDER='F' AND SALARY>3000 AND (PROF1 NOT IN ('C','C++','ORACLE','DBASE')) AND (PROF2 NOT IN ('C','C++','ORACLE','DBASE'))

PNAME
REVATHI

In [15]:
-- 20) Which Package has the lowest selling cost?
SELECT TITLE
FROM SOFTWARE
WHERE SCOST=(SELECT MIN(SCOST)
FROM SOFTWARE)

TITLE
HOSPITAL MGMT.

In [7]:
-- 19) Who is the youngest male Programmer born in 1965?
SELECT PNAME FROM PROGRAMMER WHERE DOB=
(SELECT MAX(DOB)
FROM PROGRAMMER
WHERE GENDER='F' AND DATENAME(YY,DOJ)=1965)

In [23]:
-- 18) Who is the oldest Female Programmer who joined in 1992?
SELECT PNAME FROM PROGRAMMER WHERE DOB=
(SELECT MIN(DOB)
FROM PROGRAMMER
WHERE GENDER='F' AND DATENAME(YY,DOJ)=1992)

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [70]:
--  17) Display the details of the software developed by the male students of Sabhari.

SELECT * 
FROM SOFTWARE
WHERE PNAME IN
(SELECT PNAME
FROM STUDIES
WHERE INSTITUTE='Sabhari'
INTERSECT
SELECT PNAME
FROM PROGRAMMER
WHERE GENDER='M')

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
ANAND,PARACHUTES,BASIC,399.95,6000,43
ANAND,VIDEO TITLING,PASCAL,7500,16000,9
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73

In [64]:
-- 16) Display the sales cost of the packages Developed by each Programmer Language wise
SELECT *
FROM SOFTWARE

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
MARY,README,CPP,300,1200,84
ANAND,PARACHUTES,BASIC,399.95,6000,43
ANAND,VIDEO TITLING,PASCAL,7500,16000,9
JULIANA,INVENTORY,COBOL,3000,3500,0
KAMALA,PAYROLL PKG.,DBASE,9000,20000,7
MARY,FINANCIAL ACCT.,ORACLE,18000,85000,4
MARY,CODE GENERATOR,C,4500,20000,23
PATTRICK,README,CPP,300,1200,84
QADIR,BOMBS AWAY,ASSEMBLY,750,3000,11
QADIR,VACCINES,C,1900,3100,21
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73
REMITHA,PC UTILITIES,C,725,5000,51
REMITHA,TSR HELP PKG.,ASSEMBLY,2500,6000,7
REVATHI,HOSPITAL MGMT.,PASCAL,1100,75000,2
VIJAYA,TSR EDITOR,C,900,700,6

In [57]:
--  15) How many people draw salary 2000 to 4000?
SELECT COUNT(*) AS "people draw salary 2000 to 4000"
FROM PROGRAMMER
WHERE SALARY BETWEEN 2000 AND 4000

people draw salary 2000 to 4000
12

In [56]:
-- 14) What is the AVG Salary? 
SELECT AVG(CAST(SALARY AS INT)) AS AVG_SALARY
FROM PROGRAMMER

AVG_SALARY
3169

In [20]:
-- 1) What is the Highest Number of copies sold by a Package?
SELECT TITLE,SUM(CAST(SOLD AS INT)) AS NO_COPIES_SOLD
FROM SOFTWARE
GROUP BY TITLE
ORDER BY NO_COPIES_SOLD DESC

TITLE,NO_COPIES_SOLD
README,168
DEAD LEE,73
PC UTILITIES,51
PARACHUTES,43
CODE GENERATOR,23
VACCINES,21
BOMBS AWAY,11
VIDEO TITLING,9
TSR HELP PKG.,7
PAYROLL PKG.,7
TSR EDITOR,6
HOTEL MGMT.,4
FINANCIAL ACCT.,4
HOSPITAL MGMT.,2
INVENTORY,0

In [3]:
-- 2. Display lowest course Fee. 
SELECT MIN("COURSE FEE") AS LOWEST_COURSE_FEE
FROM STUDIES

LOWEST_COURSE_FEE
4500

In [30]:
-- 3. How old is the Oldest Male Programmer.
-- Note: here considering DOB for comparison not DOJ


SELECT PNAME, DATEDIFF(yy,DOB,GETDATE())AS "AGE(years)"
FROM PROGRAMMER
WHERE DOB=(SELECT MIN(DOB)
FROM PROGRAMMER
WHERE GENDER='M')

PNAME,AGE(years)
ALTAF,59

In [33]:
-- 4) What is the AVG age of Female Programmers?
SELECT AVG(DATEDIFF(yy,DOB,GETDATE())) AS AVG_AGE_FEMALE
FROM PROGRAMMER
WHERE GENDER='F'

AVG_AGE_FEMALE
56

In [36]:
-- 5) Calculate the Experience in Years for each Programmer and Display with their names in Descending order. 
SELECT PNAME,DATEDIFF(YY,DOJ,GETDATE()) AS "EXP(years)"
FROM PROGRAMMER
ORDER BY PNAME DESC

PNAME,EXP(years)
VIJAYA,31
REVATHI,31
REMITHA,30
REBECCA,33
RAMESH,32
QADIR,32
PATTRICK,33
NELSON,34
MARY,32
KAMALA,31
JULIANA,33
ANAND,31
ALTAF,33

In [38]:
-- 6. How many programmers have done the PGDCA Course? 
SELECT COUNT(*) AS COUNT_PGDCA_COURSE_STUDENTS
FROM STUDIES
WHERE COURSE='PGDCA'

COUNT_PGDCA_COURSE_STUDENTS
3

In [42]:
-- 7. How much revenue has been earned thru sales of Packages Developed in C.
SELECT SUM(CAST(SCOST AS INT)) AS REVENUE_C
FROM SOFTWARE
WHERE DEVELOPIN='C'

REVENUE_C
8025

In [46]:
-- 8. How many Programmers Studied at Sabhari? 
SELECT COUNT(*) COUNT_PROGRAMMERS_STUDIED_SABHARI
FROM STUDIES
WHERE INSTITUTE='Sabhari'

COUNT_PROGRAMMERS_AT_SABHARI
4

In [47]:
-- 9. How many Packages Developed in DBASE? 
SELECT COUNT(*) AS PACKAGES_DEVELOPED_IN_DBASE
FROM SOFTWARE
WHERE DEVELOPIN='DBASE'

PACKAGES_DEVELOPED_IN_DBASE
2

In [49]:
-- 10. How many programmers studied in Pragathi? 
SELECT COUNT(*) AS PROGRAMMERS_STUDIED_IN_PRAGATHI
FROM STUDIES S
WHERE S.INSTITUTE='Pragathi'

PROGRAMMERS_STUDIED_IN_PRAGATHI
3

In [50]:
-- 11. How many Programmers Paid 5000 to 10000 for their course? 
SELECT COUNT(*) AS PROGRAMMERS_PAID_BETWEEN_5000_10000
FROM STUDIES S
WHERE S.[COURSE FEE] BETWEEN 5000 AND 10000

PROGRAMMERS_PAID_BETWEEN_5000_10000
6

In [53]:
-- 12. How many Programmers know either COBOL or PASCAL? 
SELECT COUNT(*) AS "Programmers know either COBOL or PASCAL"
FROM PROGRAMMER
WHERE PROF1 IN ('COBOL','PASCAL') OR PROF2 IN ('COBOL','PASCAL')

Programmers know either COBOL or PASCAL
8

In [54]:
-- 13) How many Female Programmers are there?
SELECT COUNT(*) AS FEMALE_PROGRAMMER_COUNT
FROM PROGRAMMER
WHERE GENDER='F'

FEMALE_PROGRAMMER_COUNT
7