# Create Table
1. Table cannot have more than one `PRIMARY KEY`.

In [2]:
CREATE TABLE #EmployeeInfo(
    id INT,
    name VARCHAR(255),
    PRIMARY KEY(ID)
)

# Inser Into

In [3]:
INSERT INTO #EmployeeInfo
VALUES
(101, 'Barney Ross')
INSERT INTO #EmployeeInfo
VALUES
(102, 'Barney Ross')
INSERT INTO #EmployeeInfo
VALUES
(103, 'Barney Ross')

# Select
To extract/query records

In [4]:

SELECT * FROM #EmployeeInfo

id,name
101,Barney Ross
102,Barney Ross
103,Barney Ross

# Where
To filter out records

In [5]:
SELECT e.name
FROM #EmployeeInfo e
WHERE e.id = 103

name
Barney Ross