In [1]:
-- 1 Display the “FIRST_NAME” from Employee table using the alias name 
-- as Employee_name.
SELECT FIRST_NAME Employee_name FROM EmployeeDetails

Employee_name
Anika
Veena
Vishal
Sushanth
Bhupal
Dheeraj
Karan
Chandrika

In [2]:
-- 2 Display “LAST_NAME” from Employee table in upper case.
SELECT UPPER(LAST_NAME) AS LAST_NAME FROM EmployeeDetails

LAST_NAME
ARORA
VERMA
SINGHAL
SINGH
BHATI
DIWAN
KUMAR
CHAUHAN

In [3]:
-- 3 Display unique values of DEPARTMENT from EMPLOYEE table.
SELECT DISTINCT Department FROM EmployeeDetails

Department
Account
Admin
HR

In [4]:
-- 4 Display the first three characters of LAST_NAME from EMPLOYEE table.
SELECT SUBSTRING(Last_Name,1,3) FROM EmployeeDetails

(No column name)
Aro
Ver
Sin
Sin
Bha
Diw
Kum
Cha

In [5]:
-- 5 Display the unique values of DEPARTMENT from EMPLOYEE table and 
-- prints its length.
SELECT DISTINCT LEN(DEPARTMENT) FROM EmployeeDetails

(No column name)
2
5
7

In [7]:
-- 6 Display the FIRST_NAME and LAST_NAME from EMPLOYEE table into a 
-- single column AS FULL_NAME. 
--  a space char should separate them.
SELECT CONCAT_WS(' ',First_name,Last_Name) AS FULL_NAME
FROM EmployeeDetails

FULL_NAME
Anika Arora
Veena Verma
Vishal Singhal
Sushanth Singh
Bhupal Bhati
Dheeraj Diwan
Karan Kumar
Chandrika Chauhan

In [8]:
-- 7 DISPLAY all EMPLOYEE details from the employee table 
-- order by FIRST_NAME Ascending.
SELECT * FROM EmployeeDetails ORDER BY First_name

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [9]:
-- 8. Display all EMPLOYEE details order by FIRST_NAME Ascending and
-- DEPARTMENT Descending.
SELECT * FROM EmployeeDetails ORDER BY First_name, Department DESC

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [10]:
-- 9 Display details for EMPLOYEE with the first name as “VEENA” and 
-- “KARAN” from EMPLOYEE table.
SELECT * FROM EmployeeDetails WHERE First_name IN ('VEENA','KARAN')

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account

In [11]:
-- 10 Display details of EMPLOYEE with DEPARTMENT name as “Admin”.
SELECT * FROM EmployeeDetails WHERE Department='ADMIN'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin

In [12]:
-- 11 DISPLAY details of the EMPLOYEES whose FIRST_NAME contains ‘V’.
SELECT * FROM EmployeeDetails WHERE First_name LIKE 'v%'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [13]:
-- 12 DISPLAY details of the EMPLOYEES whose SALARY lies between 
-- 100000 and 500000.
SELECT * FROM EmployeeDetails WHERE Salary BETWEEN 100000 AND 500000

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account

In [16]:
-- 13 Display details of the employees who have joined in Feb-2020.
SELECT * FROM EmployeeDetails WHERE Joining_date BETWEEN '2020-02-01' AND '2020-02-29'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin

In [17]:
-- 14 Display employee names with salaries >= 50000 and <= 100000.
SELECT First_name FROM EmployeeDetails WHERE Salary BETWEEN 50000 AND 100000

First_name
Anika
Veena
Karan
Chandrika

In [19]:
-- 15 Display the number of Employees for each department in the 
-- descenting order.
SELECT Department,COUNT(*) AS "number of Employees" FROM EmployeeDetails GROUP BY Department

Department,number of Employees
Account,2
Admin,4
HR,2

In [20]:
-- 16 DISPLAY details of the EMPLOYEES who are also Managers.
SELECT * FROM EmployeeDetails E LEFT JOIN EmployeeTitle ET ON E.Employee_id=ET.Employee_ref_id WHERE Employee_Title='Manager'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department,Employee_ref_id,Employee_title,Affective_Date
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR,1,Manager,2016-02-20 00:00:00.0000000
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin,5,Manager,2016-06-11 00:00:00.0000000

In [ ]:
-- 17 DISPLAY duplicate records having matching data in some fields of a 
-- table. 
-- ???????????? please explain this

In [26]:
-- 18 Display only odd rows from a table. 
SELECT * FROM (SELECT *,ROW_NUMBER() OVER(ORDER BY Employee_id) AS RWN FROM EmployeeDetails) A WHERE RWN%2!=0

Employee_id,First_name,Last_Name,Salary,Joining_date,Department,RWN
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR,1
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR,3
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin,5
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account,7

In [29]:
-- 19 Clone a new table from EMPLOYEE table.
-- SIMPLE CLONING
-- select *
-- into EMPD1
-- from EmployeeDetails
-- where 1 = 0;

-- DEEP CLONING
select *
into EMPD1
from EmployeeDetails

In [31]:
-- 20 DISPLAY the TOP 2 highest salary from a table.
SELECT DISTINCT TOP 2 SALARY FROM EmployeeDetails ORDER BY Salary DESC

SALARY
500000
300000

In [34]:
-- 21. DISPLAY the list of employees with the same salary.
SELECT *
FROM EmployeeDetails
WHERE SALARY IN (SELECT SALARY
FROM EmployeeDetails
GROUP BY Salary
HAVING COUNT(*)>1)

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin

In [39]:
-- 22 Display the second highest salary from a table. 
SELECT SALARY
FROM (SELECT SALARY, DENSE_RANK()OVER(ORDER BY SALARY DESC) AS RANK
    FROM EmployeeDetails
    GROUP BY SALARY) A
WHERE RANK=2

SALARY
300000

In [45]:
-- 23 Display the first 50% records from a table. 
SELECT * FROM (SELECT *,NTILE(2) OVER(ORDER BY Employee_id) AS NTILE FROM EmployeeDetails) A WHERE NTILE=1

Employee_id,First_name,Last_Name,Salary,Joining_date,Department,NTILE
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR,1
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin,1
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR,1
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin,1

In [46]:
-- 24. Display the departments that have less than 4 people in it.
SELECT DEPARTMENT FROM EmployeeDetails GROUP BY Department HAVING COUNT(*)<4

DEPARTMENT
Account
HR

In [47]:
-- 25. Display all departments along with the number of people in there.
SELECT DEPARTMENT,COUNT(*) AS NO_OF_EMP FROM EmployeeDetails GROUP BY Department

DEPARTMENT,NO_OF_EMP
Account,2
Admin,4
HR,2

In [55]:
-- 26 Display the name of employees having the highest salary in 
-- each department.
SELECT First_name, Department
FROM (SELECT First_name, Department, DENSE_RANK()OVER(PARTITION BY DEPARTMENT ORDER BY SALARY DESC) RNK
    FROM EmployeeDetails
    GROUP BY Department,SALARY,First_name) A
WHERE RNK=1

First_name,Department
Dheeraj,Account
Bhupal,Admin
Sushanth,Admin
Vishal,HR

In [56]:
-- 27 Display the names of employees who earn the highest salary.
SELECT First_name FROM EmployeeDetails WHERE SALARY = (SELECT MAX(SALARY) FROM EmployeeDetails)

First_name
Sushanth
Bhupal

In [58]:
-- 28 Diplay the average salaries for each department 
SELECT Department,AVG(SALARY) AS AVG_SAL FROM EmployeeDetails GROUP BY Department

Department,AVG_SAL
Account,137500
Admin,292500
HR,200000

In [61]:
-- 29 display the name of the employee who has got maximum bonus
SELECT *
FROM EmployeeDetails E LEFT JOIN EmployeeBonus EB ON E.Employee_id=EB.Employee_ref_id_FK
WHERE Bonus_Amount=(SELECT MAX(Bonus_Amount)
FROM EmployeeBonus)

Employee_id,First_name,Last_Name,Salary,Joining_date,Department,Employee_ref_id_FK,Bonus_Amount,Bonus_Date
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR,1,5000,2020-02-16 00:00:00.0000000

In [63]:
-- 30 Display the first name and title of all the employees
SELECT First_name,Employee_title FROM EmployeeDetails ED LEFT JOIN EmployeeTitle ET ON ED.Employee_id=ET.Employee_ref_id

First_name,Employee_title
Anika,Manager
Veena,Executive
Vishal,Lead
Sushanth,Asst. Manager
Bhupal,Manager
Dheeraj,Lead
Karan,Executive
Chandrika,Executive