##

In [1]:
-- 1. How many Programmers Don’t know PASCAL and C
SELECT COUNT(*) AS "Programmers Don’t know PASCAL and C"
FROM PROGRAMMER
WHERE PROF1 NOT IN ('PASCAL','C') AND PROF2 NOT IN ('PASCAL','C')

Programmers Don’t know PASCAL and C
5

In [2]:
-- 2. Display the details of those who don’t know Clipper, COBOL or PASCAL.
-- DECLARE @ABC VARCHAR(255) = ('COBOL PASCAL')
SELECT *
FROM PROGRAMMER
WHERE PROF1 NOT IN ('Clipper','COBOL','PASCAL') AND PROF2 NOT IN ('Clipper','COBOL','PASCAL')

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
MARY,1970-06-24,1991-02-01,F,CPP,ORACLE,4500
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [3]:
-- 3. Display each language name with AVG Development Cost, AVG Selling Cost and AVG Price per Copy.
SELECT TITLE, COUNT(*), AVG(DCOST) AS AVG_DCOST, AVG(SCOST) AS AVG_SCOST, AVG(SOLD*SCOST) AS AVG_PRICE_PER_COPY
FROM SOFTWARE
GROUP BY TITLE

TITLE,(No column name),AVG_DCOST,AVG_SCOST,AVG_PRICE_PER_COPY
BOMBS AWAY,1,3000,750,8250
CODE GENERATOR,1,20000,4500,103500
DEAD LEE,1,4500,599.95,43796.350000000006
FINANCIAL ACCT.,1,85000,18000,72000
HOSPITAL MGMT.,1,75000,1100,2200
HOTEL MGMT.,1,35000,13000,52000
INVENTORY,1,3500,3000,0
PARACHUTES,1,6000,399.95,17197.85
PAYROLL PKG.,1,20000,9000,63000
PC UTILITIES,1,5000,725,36975
README,2,1200,300,25200
TSR EDITOR,1,700,900,5400
TSR HELP PKG.,1,6000,2500,17500
VACCINES,1,3100,1900,39900
VIDEO TITLING,1,16000,7500,67500

In [4]:
-- 4. List the programmer names (from the programmer table) and No. Of Packages each has developed.
SELECT PNAME, COUNT(*) AS NO_OF_PACKAGES
FROM SOFTWARE
GROUP BY PNAME

PNAME,NO_OF_PACKAGES
ANAND,2
JULIANA,1
KAMALA,1
MARY,3
PATTRICK,1
QADIR,2
RAMESH,2
REMITHA,2
REVATHI,1
VIJAYA,1

In [5]:
-- 5. List each PROF with the number of Programmers having that 
-- PROF and the number of the packages in that PROF.

SELECT  P.PROF1,P.NO_OF_PROGRAMMER,S.NO_OF_PACKAGES FROM (SELECT PROF1,SUM(NO_OF_PROGRAMMER) AS NO_OF_PROGRAMMER FROM 
(SELECT PROF1,COUNT(*) AS NO_OF_PROGRAMMER
FROM PROGRAMMER
GROUP BY PROF1
UNION ALL
SELECT PROF2,COUNT(*) AS NO_OF_PROGRAMMER
FROM PROGRAMMER
GROUP BY PROF2) P 
GROUP BY PROF1) P
INNER JOIN (
    SELECT DEVELOPIN,COUNT(*) AS NO_OF_PACKAGES
FROM SOFTWARE
GROUP BY DEVELOPIN
) S ON P.PROF1=S.DEVELOPIN

PROF1,NO_OF_PROGRAMMER,NO_OF_PACKAGES
ASSEMBLY,2,2
BASIC,3,1
C,4,4
COBOL,4,1
CPP,1,2
DBASE,4,2
ORACLE,1,1
PASCAL,4,3

In [6]:
-- 6. How many packages are developed by the most experienced programmer from BDPS.

SELECT TOP 1 S.PNAME, COUNT(*) AS NO_OF_PACKAGES
FROM SOFTWARE S INNER JOIN STUDIES SS ON S.PNAME=SS.PNAME INNER JOIN PROGRAMMER P ON S.PNAME=P.PNAME
GROUP BY S.PNAME,SS.INSTITUTE,P.DOJ
HAVING SS.INSTITUTE='BDPS'
ORDER BY P.DOJ ASC

PNAME,NO_OF_PACKAGES
JULIANA,1

In [7]:
-- 7. How many packages were developed by the female programmers earning more than the
-- highest paid male programmer?
SELECT COUNT(*) AS NO_OF_PACKAGES
FROM SOFTWARE S INNER JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE GENDER='F' AND P.SALARY > (SELECT MAX(SALARY)
    FROM PROGRAMMER
    WHERE GENDER='M')

NO_OF_PACKAGES
7

In [8]:
-- 8. How much does the person who developed the highest selling package earn and what course
-- did HE/SHE undergo.

SELECT TOP 1 P.PNAME, P.SALARY, SS.COURSE
FROM SOFTWARE S INNER JOIN PROGRAMMER P ON S.PNAME=P.PNAME INNER JOIN STUDIES SS ON S.PNAME=SS.PNAME
ORDER BY SCOST DESC

PNAME,SALARY,COURSE
MARY,4500,PGDCA

In [9]:
-- 9. In which institute did the person who developed the costliest package study?
SELECT TOP 1 S.PNAME,SS.INSTITUTE
FROM SOFTWARE S INNER JOIN STUDIES SS ON S.PNAME=SS.PNAME
ORDER BY DCOST DESC

PNAME,INSTITUTE
MARY,SABHARI

In [10]:
-- 10. Display the names of the programmers who have not developed any packages.
SELECT P.PNAME
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME
WHERE DEVELOPIN IS NULL

PNAME
ALTAF
NELSON
REBECCA

In [11]:
-- 11. Display the details of the software that has developed in the language which is neither the
-- first nor the second proficiency
SELECT TITLE
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME
WHERE S.DEVELOPIN NOT IN (P.PROF1,P.PROF2)

TITLE
CODE GENERATOR
README

In [12]:
-- 12. Display the details of the software Developed by the male programmers Born before 1965
-- and female programmers born after 1975
    SELECT S.PNAME, S.TITLE, S.DCOST, S.SCOST, S.SOLD, S.DEVELOPIN
    FROM SOFTWARE S JOIN PROGRAMMER P ON S.PNAME=P.PNAME
    WHERE YEAR(DOB) < 1965 AND GENDER='M'
UNION ALL
    SELECT S.PNAME, S.TITLE, S.DCOST, S.SCOST, S.SOLD, S.DEVELOPIN
    FROM SOFTWARE S JOIN PROGRAMMER P ON S.PNAME=P.PNAME
    WHERE YEAR(DOB) > 1975 AND GENDER='F'

In [13]:
-- 13. Display the number of packages, No. of Copies Sold and sales value of each programmer
-- institute wise.
SELECT P.PNAME, SS.INSTITUTE, COUNT(TITLE) AS NO_OF_PACKAGES, SUM(S.SOLD) AS "No. of Copies Sold", SUM(S.SCOST) AS "sales value"
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME LEFT JOIN STUDIES SS ON P.PNAME=SS.PNAME
GROUP BY P.PNAME,SS.INSTITUTE
ORDER BY P.PNAME

PNAME,INSTITUTE,NO_OF_PACKAGES,No. of Copies Sold,sales value
ALTAF,COIT,0,NULL,NULL
ANAND,SABHARI,2,52,7899.95
JULIANA,BDPS,1,0,3000
KAMALA,PRAGATHI,1,7,9000
MARY,SABHARI,3,111,22800
NELSON,PRAGATHI,0,NULL,NULL
PATTRICK,NULL,1,84,300
QADIR,APPLE,2,32,2650
RAMESH,SABHARI,2,77,13599.95
REBECCA,BRILLIANT,0,NULL,NULL
REMITHA,BDPS,2,58,3225
REVATHI,SABHARI,1,2,1100
VIJAYA,BDPS,1,6,900

In [14]:
-- 14. Display the details of the Software Developed by the Male Programmers Earning More than
-- 3000
SELECT S.PNAME, S.TITLE, S.DCOST, S.DEVELOPIN, S.SCOST, S.SOLD
FROM SOFTWARE S JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE GENDER='M' AND SALARY>3000

PNAME,TITLE,DCOST,DEVELOPIN,SCOST,SOLD
ANAND,PARACHUTES,6000,BASIC,399.95,43
ANAND,VIDEO TITLING,16000,PASCAL,7500,9
RAMESH,HOTEL MGMT.,35000,DBASE,13000,4
RAMESH,DEAD LEE,4500,PASCAL,599.95,73

In [15]:
-- 15. Who are the Female Programmers earning more than the Highest Paid male?
SELECT *
FROM PROGRAMMER P
WHERE GENDER='F' AND
SALARY >
(SELECT MAX(SALARY)
FROM PROGRAMMER
WHERE GENDER='M')

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
MARY,1970-06-24,1991-02-01,F,CPP,ORACLE,4500
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
REVATHI,1969-12-02,1992-01-02,F,PASCAL,BASIC,3700
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [16]:
-- 16. Who are the male programmers earning below the AVG salary of Female Programmers?
SELECT *
FROM PROGRAMMER P
WHERE GENDER='M' AND SALARY < (SELECT AVG(SALARY)
    FROM PROGRAMMER
    WHERE GENDER='F')

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
ALTAF,1964-07-02,1990-11-13,M,CLIPPER,COBOL,2800
NELSON,1985-09-11,1989-10-11,M,COBOL,DBASE,2500
PATTRICK,1965-11-10,1990-04-21,M,PASCAL,CLIPPER,2800
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
RAMESH,1967-05-03,1991-02-28,M,PASCAL,DBASE,3200

In [17]:
-- 17. Display the language used by each programmer to develop the Highest Selling and
-- Lowest-selling package.

In [18]:
-- 18. Display the names of the packages, which have sold less than the AVG number of copies.
SELECT TITLE
FROM SOFTWARE
WHERE SOLD< (SELECT AVG(SOLD)
FROM SOFTWARE)

TITLE
VIDEO TITLING
INVENTORY
PAYROLL PKG.
FINANCIAL ACCT.
CODE GENERATOR
BOMBS AWAY
VACCINES
HOTEL MGMT.
TSR HELP PKG.
HOSPITAL MGMT.
TSR EDITOR

In [25]:
-- 19. Which is the costliest package developed in PASCAL.
-- SELECT TITLE
-- FROM SOFTWARE
-- WHERE DEVELOPIN='PASCAL' AND SCOST=(SELECT MAX(SCOST)
--     FROM SOFTWARE WHERE DEVELOPIN='PASCAL')
SELECT TITLE
FROM SOFTWARE S JOIN (SELECT MAX(SCOST) AS MAX_SCOST
    FROM SOFTWARE
    WHERE DEVELOPIN='PASCAL') A ON S.SCOST=A.MAX_SCOST

TITLE
VIDEO TITLING

In [26]:
-- 20. How many copies of the package that has the least difference between development and
-- selling cost were sold.
SELECT TITLE, SOLD
FROM SOFTWARE
WHERE ABS(SCOST-DCOST) = (SELECT MIN(ABS(SCOST-DCOST))
FROM SOFTWARE)

TITLE,SOLD
TSR EDITOR,6

In [28]:
-- 21. Which language has been used to develop the package, which has the highest sales
-- amount?
SELECT DEVELOPIN
FROM SOFTWARE
WHERE (SCOST*SOLD) = (SELECT MAX(SOLD*SCOST)
FROM SOFTWARE)

DEVELOPIN
C

In [30]:
-- 22. Who Developed the Package that has sold the least number of copies?
SELECT PNAME FROM SOFTWARE WHERE SOLD=(SELECT MIN(SOLD) FROM SOFTWARE)

PNAME
JULIANA

In [32]:
-- 23. Display the names of the courses whose fees are within 1000 (+ or -) of the Average Fee
WITH
    CTE
    AS
    (
        SELECT AVG([COURSE FEE]) AS AVG_FEE
        FROM STUDIES
    )

SELECT *
FROM STUDIES
WHERE [COURSE FEE] BETWEEN ((SELECT AVG_FEE
FROM CTE)-1000) AND ((SELECT AVG_FEE
FROM CTE)+1000)

PNAME,INSTITUTE,COURSE,COURSE FEE
REBECCA,BRILLIANT,DCAP,11000

In [35]:
-- 24. Display the name of the Institute and Course, which has below AVG course fee.
SELECT INSTITUTE, COURSE
FROM STUDIES
WHERE [COURSE FEE]<(SELECT AVG([COURSE FEE])
FROM STUDIES)

INSTITUTE,COURSE
SABHARI,PGDCA
COIT,DCA
PRAGATHI,DCA
SABHARI,PGDCA
PRAGATHI,DAP
PRAGATHI,DCAP
SABHARI,PGDCA
BRILLIANT,DCAP
BDPS,DCS
SABHARI,DAP

In [37]:
-- 25. Which Institute conducts costliest course.
SELECT INSTITUTE
FROM STUDIES
WHERE [COURSE FEE]=(SELECT MAX([COURSE FEE])
FROM STUDIES)

INSTITUTE
BDPS

In [38]:
-- 26. What is the Costliest course?
SELECT COURSE FROM STUDIES WHERE [COURSE FEE]=(SELECT MAX([COURSE FEE]) FROM STUDIES)

COURSE
DCA