In [4]:
USE SQL_PRACTICE

In [5]:
SELECT TOP(10) *
FROM SOFTWARE

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
MARY,README,CPP,300,1200,84
ANAND,PARACHUTES,BASIC,399.95,6000,43
ANAND,VIDEO TITLING,PASCAL,7500,16000,9
JULIANA,INVENTORY,COBOL,3000,3500,0
KAMALA,PAYROLL PKG.,DBASE,9000,20000,7
MARY,FINANCIAL ACCT.,ORACLE,18000,85000,4
MARY,CODE GENERATOR,C,4500,20000,23
PATTRICK,README,CPP,300,1200,84
QADIR,BOMBS AWAY,ASSEMBLY,750,3000,11
QADIR,VACCINES,C,1900,3100,21

In [6]:
SELECT TOP(10) *
FROM PROGRAMMER;

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
ALTAF,1964-07-02,1990-11-13,M,CLIPPER,COBOL,2800
JULIANA,1960-01-31,1990-04-21,F,COBOL,DBASE,3000
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
MARY,1970-06-24,1991-02-01,F,CPP,ORACLE,4500
NELSON,1985-09-11,1989-10-11,M,COBOL,DBASE,2500
PATTRICK,1965-11-10,1990-04-21,M,PASCAL,CLIPPER,2800
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
RAMESH,1967-05-03,1991-02-28,M,PASCAL,DBASE,3200
REBECCA,1967-01-01,1990-12-01,F,BASIC,COBOL,2500

In [7]:
SELECT TOP(10) *
FROM STUDIES;

PNAME,INSTITUTE,COURSE,COURSE FEE
ANAND,SABHARI,PGDCA,4500
ALTAF,COIT,DCA,7200
JULIANA,BDPS,MCA,22000
KAMALA,PRAGATHI,DCA,5000
MARY,SABHARI,PGDCA,4500
NELSON,PRAGATHI,DAP,6200
PATRICK,PRAGATHI,DCAP,5200
QADIR,APPLE,HDCA,14000
RAMESH,SABHARI,PGDCA,4500
REBECCA,BRILLIANT,DCAP,11000

In [8]:
-- 1. Find out the selling cost AVG for packages developed in PascaL
SELECT AVG(CAST(SCOST AS FLOAT)) AS PASCAL_SCOST_AVG
FROM SOFTWARE
WHERE DEVELOPIN='PASCAL';

PASCAL_SCOST_AVG
3066.65

In [9]:
-- 2. Display Names, Ages of all Programmers
-- SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='PROGRAMMER'
SELECT PNAME AS NAME, DATEDIFF(YY,DOB,GETDATE()) AS "AGES(YEARS)" FROM PROGRAMMER;

NAME,AGES(YEARS)
ANAND,57
ALTAF,59
JULIANA,63
KAMALA,55
MARY,53
NELSON,38
PATTRICK,58
QADIR,58
RAMESH,56
REBECCA,56
REMITHA,53
REVATHI,54
VIJAYA,58

In [10]:
-- 3. Display the Names of those who have done the DAP Course.
SELECT PNAME AS NAME
FROM STUDIES
WHERE COURSE='DAP'

NAME
NELSON
REVATHI

In [11]:
-- 4. Display the Names and Date of Births of all Programmers Born in January.
SELECT 
    PNAME AS NAME,
    DOB AS "DATE OF BIRTH"
FROM PROGRAMMER
WHERE DATENAME(MM,DOB) LIKE 'JAN%'

NAME,DATE OF BIRTH
JULIANA,1960-01-31
REBECCA,1967-01-01

In [12]:
-- 5. Display the Details of the Software Developed by Ramesh.
SELECT 
    TITLE,
    DEVELOPIN,
    SCOST,
    DCOST,
    SOLD
FROM SOFTWARE
WHERE PNAME='RAMESH'

TITLE,DEVELOPIN,SCOST,DCOST,SOLD
HOTEL MGMT.,DBASE,13000,35000,4
DEAD LEE,PASCAL,599.95,4500,73

In [13]:
-- 6. Display the Details of Packages for which Development Cost have been recovered.
SELECT 
    TITLE
FROM SOFTWARE
WHERE CAST(SCOST AS FLOAT) > CAST(DCOST AS FLOAT)
GROUP BY TITLE

TITLE
TSR EDITOR

In [14]:
-- 7. Display the details of the Programmers Knowing C.
SELECT *
FROM PROGRAMMER
WHERE PROF1='C' OR PROF2='C'

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [15]:
-- 8. What are the Languages studied by Male Programmers?
SELECT PROF1 AS MALE_DEV_LAN FROM PROGRAMMER WHERE GENDER='M'
UNION
SELECT PROF2 FROM PROGRAMMER WHERE GENDER='M'

MALE_DEV_LAN
ASSEMBLY
BASIC
C
CLIPPER
COBOL
DBASE
PASCAL

In [16]:
-- 9. Display the details of the Programmers who joined before 1990.
SELECT *
FROM PROGRAMMER
WHERE DATENAME(YY,DOJ) < 1990

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
NELSON,1985-09-11,1989-10-11,M,COBOL,DBASE,2500

In [17]:
-- 10. Who are the authors of the Packages, which have recovered more than double the Development cost
SELECT 
    PNAME
FROM SOFTWARE
WHERE CAST(SCOST AS FLOAT) > CAST(DCOST AS FLOAT)*2
GROUP BY PNAME