In [1]:
use SQL_PRACTICE;
SELECT *
FROM EmployeeDetails;

EmployeeID,FirstName,LastName,DepartmentID,ClientID,DOB,DOJ,Salary,Gender
1,Sahil,Ahmed,1,2,1998-01-21,2022-01-28,61200,M
2,vaishnavi,arya,1,2,2000-01-12,2022-01-28,51726,M
3,saransh,aggarwal,2,1,2005-03-27,2022-01-28,62071,M
4,Aftab,Ahemadd,2,1,1998-01-01,2022-01-28,3240,M
5,Rohit,SIngh,3,4,1998-01-01,2022-01-28,2250,F
6,rOHiT,Singh,3,4,1998-01-01,2022-01-28,40346,F
7,pRiYaNKA,chauhan,NULL,4,1998-01-01,2022-01-28,40346,F
8,Sakshi,verma,1,1,1999-01-01,2023-01-01,40346,F
9,Hemant,Patil,1,1,1999-01-01,2020-01-01,100000,NULL

In [7]:
SELECT *
FROM Department;

DepartmentID,DepartmentName
1,IT
2,Account
3,Electronics
4,Accounts
5,Admin

In [8]:
SELECT *
FROM Client;

ClientID,ClientName
1,TCS
2,Wipro
3,Infosys
4,Microsoft

In [9]:
-- 1
SELECT *
FROM EmployeeDetails
WHERE DATENAME(MM, DOB) = 'March';

EmployeeID,FirstName,LastName,DepartmentID,ClientID,DOB,DOJ,Salary,Gender
3,saransh,aggarwal,2,1,2005-03-27,2022-01-28,62071,M

In [10]:
-- 2
SELECT DATEDIFF(MONTH, DOJ, GETDATE()) AS "EXPERIENCE(months)"
FROM EmployeeDetails;

EXPERIENCE(months)
15
15
15
15
15
15
15
3
39

In [6]:
-- 3
SELECT CONCAT(SUBSTRING(firstname, 1, 3), RIGHT(LastName,3)) AS SHORT_NAME
FROM EmployeeDetails;

SHORT_NAME
Sahmed
vairya
sarwal
Aftadd
Rohngh
rOH
pRihan
Sakrma
Hemtil

In [12]:
-- 4
SELECT CONCAT(UPPER(SUBSTRING(firstname, 1, 1)), LOWER(SUBSTRING(firstname, 2, LEN(firstname)))) AS UPPER_NAME
FROM EmployeeDetails;

-- here instead of concat we can use '+' operator

UPPER_NAME
Sahil
Vaishnavi
Saransh
Aftab
Rohit
Rohit
Priyanka
Sakshi
Hemant

In [13]:
--5 
SELECT DATENAME(WEEKDAY, DOB) AS Birth_Day,
       DATENAME(MM, DOB) AS Birth_Month,
       DATENAME(WEEKDAY, DOJ) AS Join_Day,
       DATENAME(MM, DOB) AS Join_Month
FROM EmployeeDetails;

Birth_Day,Birth_Month,Join_Day,Join_Month
Wednesday,January,Friday,January
Wednesday,January,Friday,January
Sunday,March,Friday,March
Thursday,January,Friday,January
Thursday,January,Friday,January
Thursday,January,Friday,January
Thursday,January,Friday,January
Friday,January,Sunday,January
Friday,January,Wednesday,January

In [2]:
-- 6
SELECT d.DepartmentName,
       COUNT(*) AS EmployeeCount
FROM EmployeeDetails e
    JOIN Department d
        ON e.DepartmentID = d.DepartmentID
GROUP BY d.DepartmentName;

-- here use left join to display all records from department

DepartmentName,EmployeeCount
Account,2
Electronics,2
IT,4

In [15]:
-- 7
SELECT TOP(1)
    MAX(e.Salary) AS MAX_SAL, d.DepartmentName
FROM EmployeeDetails e
    JOIN Department d
    ON e.DepartmentID = d.DepartmentID
GROUP BY d.DepartmentName
ORDER BY MAX_SAL DESC;

MAX_SAL,DepartmentName
100000,IT

In [16]:
-- 7
SELECT d.DepartmentName AS MAX_SAL_DEPT
FROM Department d
WHERE d.DepartmentID =
(
    SELECT e.DepartmentID
    FROM EmployeeDetails e
    WHERE e.Salary =
    (
        SELECT MAX(Salary)FROM EmployeeDetails
    )
);

-- avoid subquery, most of the time it is expensive

MAX_SAL_DEPT
IT

In [17]:
-- 8
SELECT c.ClientName,
       AVG(e.Salary) AS AvgSalary
FROM EmployeeDetails e
    JOIN Client c
        ON e.ClientID = c.ClientID
GROUP BY c.ClientName

ClientName,AvgSalary
Microsoft,27647
TCS,51414
Wipro,56463

In [18]:
-- 9
SELECT MAX(e.Salary) MAX_SAL,
       d.DepartmentName
FROM EmployeeDetails e
    JOIN Department d
        ON e.DepartmentID = d.DepartmentID
GROUP BY d.DepartmentName

MAX_SAL,DepartmentName
62071,Account
40346,Electronics
100000,IT