In [7]:
CREATE FUNCTION udf_get_total_salary
(
    @deptName VARCHAR(255)
)
RETURNS INT
AS
BEGIN
DECLARE @TOTAL_SALARY INT

SELECT @TOTAL_SALARY=SUM(E.SALARY)
FROM EmployeeDetails E
JOIN Department D
ON E.DepartmentID = D.DepartmentID
GROUP BY D.DepartmentName
HAVING D.DepartmentName=@deptName

RETURN @TOTAL_SALARY
END

In [12]:
-- SELECT SUM(E.SALARY)
-- FROM EmployeeDetails E
-- GROUP BY E.DepartmentID

-- SELECT SUM(E.SALARY) AS TOTAL_SAL
-- FROM EmployeeDetails E
-- JOIN Department D
-- ON E.DepartmentID = D.DepartmentID
-- GROUP BY D.DepartmentName
-- HAVING D.DepartmentName='ACCOUNT'

SELECT DBO.udf_get_total_salary('ACCOUNT')

(No column name)
65311

In [18]:
CREATE FUNCTION udf_get_employee
(
    @dept VARCHAR(255),
    @client VARCHAR(255)
)
RETURNS TABLE
AS
RETURN
(
    SELECT E.FirstName
    FROM EmployeeDetails E
    JOIN Department D ON E.DepartmentID=D.DepartmentID
    JOIN Client C ON E.ClientID=C.ClientID
    WHERE D.DepartmentName=@dept AND C.ClientName=@client
)

: Msg 2714, Level 16, State 3, Procedure udf_get_employee, Line 1
There is already an object named 'udf_get_employee' in the database.

In [19]:
    -- SELECT E.FirstName
    -- FROM EmployeeDetails E
    -- JOIN Department D ON E.DepartmentID=D.DepartmentID
    -- JOIN Client C ON E.ClientID=C.ClientID
    -- WHERE D.DepartmentName="" AND C.ClientName=""

    SELECT DBO.udf_get_employee("account","tcs")

: Msg 4121, Level 16, State 1, Line 7
Cannot find either column "DBO" or the user-defined function or aggregate "DBO.udf_get_employee", or the name is ambiguous.