# Temporary Table
### 1. table dnotes with #
### 2. temporary table is not stored in db
### 3. temporary table is not accessible in other sessions

In [1]:
CREATE TABLE #TemporaryTable(
    id INT PRIMARY KEY,
    name VARCHAR(255),
    date DATE
)

In [7]:
INSERT INTO #TemporaryTable
(
    ID,
    NAME,
    DATE
)
VALUES
(2, 'Barney', GETDATE())

In [8]:
SELECT * FROM #TemporaryTable;

id,name,date
1,James,2023-04-02
2,Barney,2023-04-02