# WINDOW FUNCTIONS (SEQUENCING)
1. ROW_RANK()
2. RANK()
3. DENSE_RANK()
4. NTILE()

In [1]:
SELECT * FROM EmployeeDetails

EmployeeID,FirstName,LastName,DepartmentID,ClientID,DOB,DOJ,Salary,Gender
1,Sahil,Ahmed,1,2,1998-01-21,2022-01-28,61200,M
2,vaishnavi,arya,1,2,2000-01-12,2022-01-28,51726,M
3,saransh,aggarwal,2,1,2005-03-27,2022-01-28,62071,M
4,Aftab,Ahemadd,2,1,1998-01-01,2022-01-28,3240,M
5,Rohit,SIngh,3,4,1998-01-01,2022-01-28,2250,F
6,rOHiT,Singh,3,4,1998-01-01,2022-01-28,40346,F
7,pRiYaNKA,chauhan,NULL,4,1998-01-01,2022-01-28,40346,F
8,Sakshi,verma,1,1,1999-01-01,2023-01-01,40346,F
9,Hemant,Patil,1,1,1999-01-01,2020-01-01,100000,NULL

In [5]:
SELECT NTILE(2) OVER(ORDER BY Salary DESC) AS GroupID, * FROM EmployeeDetails

GroupID,EmployeeID,FirstName,LastName,DepartmentID,ClientID,DOB,DOJ,Salary,Gender
1,9,Hemant,Patil,1,1,1999-01-01,2020-01-01,100000,NULL
1,3,saransh,aggarwal,2,1,2005-03-27,2022-01-28,62071,M
1,1,Sahil,Ahmed,1,2,1998-01-21,2022-01-28,61200,M
1,2,vaishnavi,arya,1,2,2000-01-12,2022-01-28,51726,M
1,6,rOHiT,Singh,3,4,1998-01-01,2022-01-28,40346,F
2,7,pRiYaNKA,chauhan,NULL,4,1998-01-01,2022-01-28,40346,F
2,8,Sakshi,verma,1,1,1999-01-01,2023-01-01,40346,F
2,4,Aftab,Ahemadd,2,1,1998-01-01,2022-01-28,3240,M
2,5,Rohit,SIngh,3,4,1998-01-01,2022-01-28,2250,F

In [12]:
CREATE TABLE #TempData(
    grp VARCHAR(255),
    val int
)

In [13]:
INSERT into #TempData VALUES('A', 1000)
INSERT into #TempData VALUES('A', 500)
INSERT into #TempData VALUES('A', 500)
INSERT into #TempData VALUES('A', 2000)
INSERT into #TempData VALUES('A', 600)
INSERT into #TempData VALUES('B', 100)
INSERT into #TempData VALUES('B', 200)
INSERT into #TempData VALUES('B', 500)
INSERT into #TempData VALUES('B', 200)
INSERT into #TempData VALUES('B', 600)
INSERT into #TempData VALUES('B', 700)

In [20]:
SELECT ROW_NUMBER() OVER(ORDER BY VAL ASC) AS ROW_NUMBER,* FROM #TEMPDATA;

ROW_NUMBER,grp,val
1,B,100
2,B,200
3,B,200
4,B,500
5,A,500
6,A,500
7,A,600
8,B,600
9,B,700
10,A,1000
11,A,2000

In [21]:
SELECT RANK() OVER(ORDER BY VAL ASC) AS RANK,* FROM #TEMPDATA;

RANK,grp,val
1,B,100
2,B,200
2,B,200
4,B,500
4,A,500
4,A,500
7,A,600
7,B,600
9,B,700
10,A,1000
11,A,2000

In [22]:
SELECT DENSE_RANK() OVER(ORDER BY VAL ASC) AS DENSE_RANK,* FROM #TEMPDATA;

DENSE_RANK,grp,val
1,B,100
2,B,200
2,B,200
3,B,500
3,A,500
3,A,500
4,A,600
4,B,600
5,B,700
6,A,1000
7,A,2000

# Print table of 7

In [4]:
DECLARE @I INT =0

WHILE(@I<10)
BEGIN
SET @I=@I+1
PRINT @I*7
END